@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
	--prime-color: #000000;
	--secondary-color: #F6F6F6;
	--tertiary-color: #22d4fd;
	--houver-color: #272727;

	--prime-font: 'Krona One', sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

.header {
	padding: 2% 0 0 15%
}

.header__menu {
	display: flex;
	gap: 80px;
}

.header__menu__link {
	font-family: var(--secondary-font);
	font-weight: 600;
	font-size: 1.5rem;
	color: var(--tertiary-color);
	text-decoration: none;
}

body {
	box-sizing: border-box;
	/* height: 100vh; */
	/* background-color: rgb(27, 24, 24); */
	background-color: var(--prime-color);
	/* color: rgb(236, 226, 216); */
	color: var(--secondary-color);
}

.presentation {
	/* margin: 10% 15%; */
	padding: 9% 15%;
	display: flex;
	gap: 82px;
	align-items: center;
	justify-content: space-evenly;
}

.presentation__content {
	width: 50%;
	display: flex;
	gap: 40px;
	flex-direction: column;
}

.presentation__content__title {
	font-size: 2.25rem;
	font-family: var(--prime-font);
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.title-emphasis {
	/* color: #22d4fd; */
	color: var(--tertiary-color);
}

.presentation__content__paragraph {
	font-size: 1.5rem;
	font-family: var(--secondary-font);
}

.presentation__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	justify-content: space-between;
}

.presentation__links_subtitle {
	font-size: 1.5rem;
	font-weight: 400;
	font-family: var(--prime-font);
}

.presentation__links__contats {
	/* background-color: #22D4FD; */
	border: solid 2px;
	/* border-color: #22d4fd; */
	border-color: var(--tertiary-color);
	width: 50%;
	text-align: center;
	border-radius: 8px;
	font-size: 1.5rem;
	font-weight: 600;
	padding: 21.5px 0;
	text-decoration: none;
	/* color: #F6F6F6; */
	color: var(--secondary-color);
	font-family: var(--secondary-font);
	display: flex;
	justify-content: center;
	gap: 16px;
}

.presentation__links__contats:hover {
	background-color: var(--houver-color);
	padding: 3%
}

.presentation__content__title:hover {
	background-color: #661e66;
}

.presentation__img {
	width: 50%;
}

.presentation__content__paragraph:hover {
	background-color: var(--houver-color);
}

.footer {
	/* margin: 28px; */
	padding: 28px;
	color: var(--tertiary-color);
	background-color: #661e66;
	font-family: var(--secondary-font);
	font-size: 1.5rem;
	font-weight: 400;
	/* display: flex;
	justify-content: left; */
}

@media (max-width: 1200px) {
	.header {
		padding: 10%;
	}

	.header__menu {
		justify-content: center;
	}

	.presentation {
		flex-direction: column-reverse;
		padding: 5%;
	}

	.presentation__content {
		width: auto;
	}
}